# Environment variables
.env
*.env
frontend/.env
env

# Dependencies
node_modules/
__pycache__/

# Build outputs
dist/
build/

# IDE files
.vscode/
*.swp
*.swo

# OS files
.DS_Store
Thumbs.db

# Logs
*.log
npm-debug.log*
